.more-info {
  text-align: center;
  margin-top: 100px;
  .img-hero {
    margin-right: 50px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }
}
.empty-result {
  text-align: center;
}
