<button class="btn" (click)="backPage()">Back</button>
<div *ngFor="let character of characters$ | async" class="more-info">
  <img
    class="img-hero"
    src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}"
    alt=""
    width="150"
    height="150px"
  />
  <span>Name: {{ character.name }} id: {{ character.id }} </span>
  <span>modified: {{ character.modified }}</span>
  <p>Stories: {{ character.stories.available }}</p>
  <p *ngFor="let item of character.stories.items">
    <span *ngIf="item">{{ item.name }}</span>
    {{ item.name | json }}
  </p>
  <div *ngIf="character.description">
    <p>{{ character.description }}</p>
  </div>
</div>
