<div class="filler">
  <app-search></app-search>
  local:<app-sort (selectedOption)="dataFromSortLocal($event)"></app-sort>
  global:<app-sort (selectedOption)="dataFromSortGlobal($event)"></app-sort>
</div>
<div class="hero-list-container">
  <div class="heroes-list" *ngFor="let character of marvelHeroes">
    <app-comics-characters-row [data]="character"></app-comics-characters-row>
  </div>
  <div class="loading-container" *ngIf="loading">
    <progress></progress>
  </div>
  <app-pagination
    (currentPageNumber)="pagination($event)"
    [collectionSize]="collectionSize"
    [numberPagesDisplay]="numberPagesDisplay"
    [itemsPerPage]="itemsPerPage"
  ></app-pagination>
</div>
