<app-search></app-search>
<div class="hero-list-container" *ngIf="!loading">
  <div class="heroes-list" *ngFor="let character of marvelHeroes">
    <div>
      <img
        class="img-hero"
        src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}"
        alt="{{ character.name }}"
        width="150"
        height="150"
      />
    </div>
    <p class="hero-name">{{ character.name }}</p>
    <button class="btn btn-info" (click)="moreInfo(character)">
      more info
    </button>
  </div>
</div>
<div class="loading-container" *ngIf="loading">
  <progress></progress>
</div>
<app-pagination
  [link]="linkCharacters"
  (nextPage)="nextPage($event)"
></app-pagination>
