<h1>
  <img
    src="/assets/images/Marvel_Studios_logo.jpg"
    alt="Marvel Logo"
    class="logo"
  />
</h1>
<div class="wrapper">
  <div *ngIf="data" class="welcome-wrapper">
    <span class="welcome"> Hi {{ data.login }}</span> <button class="btn" (click)="logOut()">Log out</button>
  </div>
  <div *ngIf="!data">
    <button class="btn" routerLink="authorization">sign in</button>
  </div>
  <div class="wrapper-list">
    <ul class="list">
      <li class="list-element btn" routerLink="home">Characters</li>
      <li class="list-element btn" routerLink="comics">Comics</li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
