<div class="wrapper-sign-in">
  <div class="sign-in">
    <span class="desctioprion-input">Login:</span>
    <label for="Login">
      <input type="email" id="Login" [(ngModel)]="login" /> </label
    ><span class="desctioprion-input">Password:</span>
    <label for="password">
      <input type="password" id="password" [(ngModel)]="pass" />
    </label>
    <button class="btn btn-sign-in" (click)="signIn()">Sign in</button>
    <span>Already registered?</span>
    <button class="btn btn-registration" routerLink="/registration">
      Registration
    </button>
  </div>
</div>
