<div class="wrapper-registration">
  <form class="registration" [formGroup]="buyTicketForm" novalidate>
    <span class="desctioprion-input"> FIO:</span
    ><label for="name">
      <input type="text" id="name" formControlName="fio"
    /></label>
    <span class="desctioprion-input"> Login:</span
    ><label for="login-registration">
      <input type="text" id="login-registration" formControlName="login"
    /></label>
    <span class="desctioprion-input"> Password:</span
    ><label for="pass-registration">
      <input type="password" id="pass-registration" formControlName="pass"
    /></label>
    <span class="desctioprion-input"> Email:</span
      ><label for="email-registration">
        <input type="email" id="email-registration" formControlName="email"
      /></label>
    <span class="desctioprion-input"> Phone:</span
    ><label for="phone">
      <input type="phone" id="phone" formControlName="phone"
    /></label>
    <button class="btn btn-registration" (click)="registration()">
      Confirm
    </button>
  </form>
</div>
