/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';

html,
body,
h1,
img {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(./assets/images/bg.jpg);
  background-attachment: fixed;
}
.btn {
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: #000;
  color: rgb(255, 0, 0);
  box-shadow: 0 0 25px #000;
  border: none;
}

.btn:active {
  border-color: rgb(65, 64, 64);
  color: #fff;
  box-shadow: 0 0 0 1px #000 !important;
  border: none !important;
}

.btn:focus {
  background-color: #000 !important;
  border-color: #000;
  outline: #000;
  box-shadow: 0 0 15px rgb(65, 64, 64);
}
.page-link {
  background-color: #000;
  color: #fff;
  box-shadow: 0 0 6px #fff;
  border-radius: 5px;
}
.page-link:hover {
  color: #f00;
  background-color: #000;
  border: 1px solid #000;
}
li.page-item.disabled .page-link {
  background-color: rgb(24, 24, 24);
  box-shadow: 0 0 10px rgb(34, 34, 34);
  border: 2px solid rgb(34, 34, 34);
}
li.page-item.active .page-link {
  background-color: #000;
  color: #f00;
  border: 2px solid #f00;
  border-radius: 5px;
  box-shadow: 0 0 6px #f00;
}
